<ion-header>
  <ion-navbar>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Calculator</h2>

  <form id="calculatorPage-form2" class="list" [formGroup]="markerDetailsForm">
    <ion-list>
      <ion-list-header>Current Tree</ion-list-header>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">CurrentTID</ion-label>
        <ion-input formControlName="currentTID" placeholder="Data Input"></ion-input>
      </ion-item>

      <ion-list-header>Marker1</ion-list-header>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Marker 1 TID</ion-label>
        <ion-input formControlName="marker1Tid"  placeholder="Data Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Distance</ion-label>
        <ion-input placeholder="Data Input" type="number" formControlName="marker1Distance"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Bearing</ion-label>
        <ion-input placeholder="Data Input" type="number" formControlName="marker1Bearing"></ion-input>
      </ion-item>


      <ion-list-header>Marker2</ion-list-header>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Marker 2 TID</ion-label>
        <ion-input placeholder="Data Input" formControlName="marker2Tid"  ng-model="marker2Tid" margin-left="20px"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Distance</ion-label>
        <ion-input placeholder="Data Input" ftype="number" ormControlName="marker2Distance" ng-model="marker2Distance" margin-left="20px"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="myInputLabel" color="primary">Bearing</ion-label>
        <ion-input placeholder="Data Input" type="number" formControlName="marker2Bearing" ng-model="marker2Distance" margin-left="20px"></ion-input>
      </ion-item>


    </ion-list>

  </form>

  <button ion-button block (click)="submitButtonClick()" > Summit </button>
  <button ion-button block color="danger" (click)="cleanButtonClick()"> Clean </button>



</ion-content>
